@import "variables";
@import "breakpoints";
@import "container";

.services {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 742px;
  padding-top: 100px;
  padding-bottom: 100px;

  .container {
    @include global-container();
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .heading {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 80%;
      margin-bottom: 0;
      h2 {
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 0;
      }
      p {
        text-align: center;
        line-height: 1.4;
      }
    }

    .cards {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;
      padding: 20px 0;

      .card {
        align-self: stretch;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 30px;
        width: 32%;
        min-height: 186px;
        box-shadow: 0 5px 15px 5px rgba($color: #000000, $alpha: 0.05);
        border-radius: 6px;
        padding: 30px;

        .icon {
          display: flex;
          align-self: flex-start;
          span {
            font-size: 40px;
            color: $primary;
            padding-top: 10px;
          }
        }

        .content {
          display: flex;
          flex-direction: column;
          h4 {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 20px;
          }
          p {
            line-height: 1.4;
          }
        }
      }
    }
  }
}

//___ BREAKPOINTS ___
@include lg {
  .services {
    .container {
      .cards {
        .card {
          width: 47%;
        }
      }
    }
  }
}

@include sm {
  .services {
    padding-top: 100px;
    padding-bottom: 30px;
    .container {
      .cards {
        .card {
          height: 100%;
          width: 100%;
          flex-direction: column;
          gap: 0;
          .icon {
            align-self: center;
          }
          .content {
            justify-content: center;
            align-items: center;
            width: 100%;
            h4 {
              text-align: center;
            }
            p {
              text-align: center;
            }
          }
        }
      }
    }
  }
}
